<%= form_for [@post, @post.comments.build] do |f| %>
  <h4><%= notice %></h4>
  <div class="form-group">
    <%= f.label :body, "comment" %><br />
    <%= f.text_area :body, class: 'form-control comment-body', size: '50' %>
   </div><br/>

    <%= f.submit "comment", class: 'btn btn-success' %>

<% end %>