<h2>Update blog</h2>
<div class="row">
  <%= link_to gravatar_for(@post.user), @post.user %>
    <%= form_for :post, :url => { :action => "update" }, :html => { :method => 'patch' } do |f| %>

    <%= render 'layouts/errormessages' %>
      
      <div class="form-group">
        <%= f.label :title, "Title" %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :text %>
        <%= f.text_field :text, class: 'form-control' %>
      </div>

      <%= f.submit "Update Blog", class: 'btn btn-success' %>
    <% end %>
</div>