
<h2>Listing posts by tag : #<%= @tag.name %></h2>
<% @posts.each do |post| %>
<div class="row">
	<% user = User.find_by(id: post.user_id) %>
	<td><%= link_to gravatar_for(user), user %></td>
	<td><h2><%= link_to post.title, post %></h2></td>
		<td><p><%= raw post.link_tags %></p></td>
		<p> Posted <%= time_ago_in_words post.created_at %> ago. </p>
	<% if post.user == current_user %>
	<p><%= link_to "edit", edit_post_path(post.id) %> | <%= link_to "delete", post_path(post.id), method: 'delete' %></p>
	<% elsif current_user.admin? %>
		<%= link_to "delete", post_path(post.id), method: 'delete' %>
	<% end %>
</div>
<% end %>
